html{
  background-color: black;
}

#root {
  background-color: black;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  transition: 0.45s;
  
}

.scrolled {
  position: fixed;
  background-color: rgba(109, 105, 105, 0.5);
  z-index: 100;
  
}

.nav-link {
  display: flex;
  font-size: 1.5rem;
  transition: 0.25s;
  position: relative;
  display: inline-block;
  padding: 20px;
  
}

.navbar-text {
  display: flex;
  display: inline;
  justify-content: space-around;
  padding-right: 40px;
  
}

a {
  color: rgb(240, 229, 167);
  border: none;
  font-size: 35px;
}

.logo img {
  padding: 20px 0 0 20px;
}

.logo-img {
  width: 150px;
  height: 150px;
  
}

.pagination {
  padding-bottom: 30px;
}

.pagination a {
  color: rgb(240, 229, 167);
}

.section {
  width: 70%;
}

.FilmsIndex {
  min-height: 3600px;
  display: flex;
  justify-content: center;
}

.card-content {
  padding: 5px;
  background-color: black;
  color: white;
}

body {
  background-color: black;
}

.card-title {
  display: none;
}

.button.is-info{
  background-color: rgb(197, 181, 34);
  color: black;
  font-weight: bold;
}

.input {
  background-color: black;
  opacity: 0.9;
  color: white;
}

.input::placeholder {
  color: white;
}

.title {
  color: white;
}

.movie-image {
  height: 60vh;
}


.outer-container {
  background-size: cover !important;
}
.wrapper {
  color: white !important;
}
.card{
  .backText{
    display: none;
    font-size: 20px;
    width: 100%;
    color: white;
  }
}
.card-image:hover {
  .actual-card-image{
  visibility: hidden;
  }
  .backText{
    display: block;
    padding-top: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
  }
}
.image {
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
}
.card-image {
  display: flex;
  align-items: center;
  background-color:black;
}
.Loading {
display: flex;
justify-content: center;
}
.video {
  display: flex;
  justify-content: center;
  width: 1000px;
  margin-left: 200px;
  padding-right: 70px;
}
.youtube {
  height: 500px;
  width: 800px;
  display: flex;
  justify-content: center;
}
.columns{
  background-color: black;
  background: rgb(60, 60, 60);
  background: rgba(0, 0, 0, 0.7);
  margin: 50px;
  height: 70vh;
}
p {
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
}
a.subtitle {
  color: white;
}
.title { 
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  font-family: 'Inter', sans-serif;
}
.backText {
  color: white;
}
.footer {
  padding: 15px;
  background-color: black;
}
div .hero-body {
  background-image: url('https://i.pinimg.com/originals/8d/b7/d6/8db7d6ba3dd148002f989781c0b59bb3.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  // height: 80vh;
  padding: 0px;
  margin: 0px;
}
img.footer-logo {
  width: 150px;
  height: 60px;
}
.logo {
  display: flex;
  justify-content: center;
  // height: 100px;
  // width: 100px;
}





.hero {
  background-color: black;
  height: 70vh;
}



.section {
  width: 70%;
}

.FilmsIndex {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.SearchForm {
  display: flex;
  justify-content: center;
  // width: 80%;
  padding-top: 50px;
 
}

.control {
  background-color: grey;
}

.field {
  width: 65%;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
}

.card-content {
  padding: 5px;
  background-color: black;
  color: white;
}

body {
  background-color: black;
  // height: 100vh;
}

.card-title {
  display: none;
}


.title {
  color: white;
}


.outer-container {
  background-size: cover !important;
}

.wrapper {
  position: relative !important;
  color: white !important;
}

